##### upload csv file

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
from sklearn import preprocessing

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', 90)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# read output #4 (file has total products)
root = 'data'
msft = pd.read_csv(root + '/' +'4.total_products_cleanup.csv')
#msft[:15]

In [3]:
df = msft.copy()

In [4]:
df.shape

(21343, 113)

In [5]:
spike_cols = [col for col in df.columns if 'Tier' in col ]
print(spike_cols, "\n")

['Member_Tenure_Tier']

In [6]:
spike_cols = [col for col in df.columns if 'Key' in col ]
print(spike_cols, "\n")
spike_cols = [col for col in df.columns if 'FSV' in col ]
print(spike_cols, "\n")
spike_cols = [col for col in df.columns if 'TRV' in col ]
print(spike_cols, "\n")
spike_cols = [col for col in df.columns if 'Total' in col ]
print(spike_cols, "\n")
spike_cols = [col for col in df.columns if 'Status' in col ]
print(spike_cols, "\n")

['Individual_Key', 'Household_Key', 'Member_Key']

['FSV_CMSI_Flag', 'FSV_Credit_Card_Flag', 'FSV_Deposit_Program_Flag', 'FSV_Home_Equity_Flag', 'FSV_ID_Theft_Flag', 'FSV_Mortgage_Flag']

['TRV_Globalware_Flag']

['Total_Products', 'Total_Cost']

['Email_Status', 'Member_Status', 'Call_Status_Recv_Date']

In [7]:
spike_cols = [col for col in df.columns if 'Birth' in col ]
print(spike_cols, "\n")

['Date_Of_Birth', 'Birth_Date_MMDDYYYY']

In [8]:
df['Date_Of_Birth'][:5]

0    1922-02-05 00:00:00
1    1922-02-05 00:00:00
2    1922-02-05 00:00:00
3    1922-02-05 00:00:00
4    1922-02-05 00:00:00
Name: Date_Of_Birth, dtype: object

In [9]:
# remove time from date + time format
df['Date_Of_Birth'] = pd.to_datetime(df['Date_Of_Birth']).dt.date
df['Date_Of_Birth'][:5]

0    1922-02-05
1    1922-02-05
2    1922-02-05
3    1922-02-05
4    1922-02-05
Name: Date_Of_Birth, dtype: object

In [10]:
print(datetime.today().strftime('%Y-%m-%d'))

2020-02-27

In [11]:
#del woo

In [12]:
woo = df[['Individual_Key', 'Date_Of_Birth']].copy()

In [13]:
# remove warning message 
pd.options.mode.chained_assignment = None


tdy = datetime.today().strftime('%Y-%m-%d')
#Add a New Column to the DataFrame
woo.columns
woo.loc[:,"Now"]  = tdy
woo[:5]
#woo['Now'] = pd.to_datetime(tdy)

   Individual_Key Date_Of_Birth         Now
0      52211550.0    1922-02-05  2020-02-27
1      52211550.0    1922-02-05  2020-02-27
2      52211550.0    1922-02-05  2020-02-27
3      52211550.0    1922-02-05  2020-02-27
4      52211550.0    1922-02-05  2020-02-27

In [14]:
woo['Age'] = pd.to_datetime(woo['Now']).dt.year - pd.to_datetime(woo['Date_Of_Birth']).dt.year

# format age as int
# repalce nan with 0 to avoid error message
woo['Age'] = woo['Age'].replace(np.NaN, -1)
woo['Age'] = woo['Age'].astype(int)
woo[:10]

   Individual_Key Date_Of_Birth         Now  Age
0      52211550.0    1922-02-05  2020-02-27   98
1      52211550.0    1922-02-05  2020-02-27   98
2      52211550.0    1922-02-05  2020-02-27   98
3      52211550.0    1922-02-05  2020-02-27   98
4      52211550.0    1922-02-05  2020-02-27   98
5      52211550.0    1922-02-05  2020-02-27   98
6      52211550.0    1922-02-05  2020-02-27   98
7      52211550.0    1922-02-05  2020-02-27   98
8      52211550.0    1922-02-05  2020-02-27   98
9       1606764.0           NaT  2020-02-27   -1

In [15]:
del woo['Date_Of_Birth']
woo[:5]

   Individual_Key         Now  Age
0      52211550.0  2020-02-27   98
1      52211550.0  2020-02-27   98
2      52211550.0  2020-02-27   98
3      52211550.0  2020-02-27   98
4      52211550.0  2020-02-27   98

In [16]:
del woo['Now']
woo[:5]

   Individual_Key  Age
0      52211550.0   98
1      52211550.0   98
2      52211550.0   98
3      52211550.0   98
4      52211550.0   98

In [17]:
# add an new column: Age to the original dataset
# adding the product count into the orginal dataset
df_result = pd.merge(df, woo, on='Individual_Key')

# add 1 as Individual count in the dataset
df_result['Individual_Cnt'] = 1

print(df_result.shape)
print(df_result.columns)

(157797, 115)
Index(['Individual_Key', 'Household_Key', 'City', 'State_-_Grouped', 'ZIP5', 'ZIP9',
       'FSV_CMSI_Flag', 'FSV_Credit_Card_Flag', 'FSV_Deposit_Program_Flag',
       'FSV_Home_Equity_Flag',
       ...
       'Total_Cost', 'Tow_Destination_Latitude', 'Tow_Destination_Longitude',
       'Tow_Destination_Name', 'Was_Duplicated', 'Was_Towed_To_AAR_Referral',
       'Member_Tenure_Decile', 'Member_Tenure_Tier', 'Age', 'Individual_Cnt'],
      dtype='object', length=115)

In [18]:
df_result['Individual_Cnt'].count()

157797

In [19]:
df_result.rename(columns = {'Age':'temp'}, inplace = True) 

# find the column index
df_result.columns.get_loc('Date_Of_Birth')

22

In [20]:
# add new column to the 1st position
df_result.insert(23, 'Age', df_result['temp'])
woo['Age']
del df_result['temp']
df_result[:2]

   Individual_Key  Household_Key          City State_-_Grouped       ...        \
0      52211550.0      4500791.0  WEST WARWICK              RI       ...
1      52211550.0      4500791.0  WEST WARWICK              RI       ...

   Was_Towed_To_AAR_Referral  Member_Tenure_Decile  Member_Tenure_Tier  Individual_Cnt
0                        1.0                     8               48-49               1
1                        1.0                     8               48-49               1

[2 rows x 115 columns]

In [21]:
df_result.shape

(157797, 115)

In [22]:
df.shape

(21343, 113)

In [23]:
# find the column index
df_result.columns.get_loc('Age')

23

In [24]:
df_result.columns

Index(['Individual_Key', 'Household_Key', 'City', 'State_-_Grouped', 'ZIP5', 'ZIP9',
       'FSV_CMSI_Flag', 'FSV_Credit_Card_Flag', 'FSV_Deposit_Program_Flag',
       'FSV_Home_Equity_Flag',
       ...
       'SVC_Facility_Type', 'Total_Cost', 'Tow_Destination_Latitude',
       'Tow_Destination_Longitude', 'Tow_Destination_Name', 'Was_Duplicated',
       'Was_Towed_To_AAR_Referral', 'Member_Tenure_Decile', 'Member_Tenure_Tier',
       'Individual_Cnt'],
      dtype='object', length=115)

In [25]:
w1 = df_result['Occupation_Group'].dropna()
w1.head()

117                     Retired - Known
119    Office Administration - Inferred
120    Office Administration - Inferred
121    Office Administration - Inferred
122    Office Administration - Inferred
Name: Occupation_Group, dtype: object

In [26]:
# # write the output to data sub-directory
root = 'data'
df_result.to_csv( root + '/' +'5.member_age.csv',index=False)